@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background-color: #0a192f;
  --header-color: #56ddc0;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --header-color: #0a192f;
} */

body {
  background: #0a192f;
}
li:hover {
  cursor: pointer;
}
.profile-pic {
  animation: profile infinite 7s ease-in-out alternate;
}
.custom-shadow {
  box-shadow: 3px 6px 27px -3px rgba(24, 17, 17, 0.75);
  -webkit-box-shadow: 3px 6px 27px -3px rgba(24, 17, 17, 0.75);
  -moz-box-shadow: 3px 6px 27px -3px rgba(24, 17, 17, 0.75);
}

.ant-float-btn-body {
  background: #0a192f !important;
  box-shadow: 1px 1px 5px 1px rgb(255, 255, 255);
}

.tooltip-shadow {
  box-shadow: 1px 1px 5px 1px rgb(255, 255, 255);
}
.ant-float-btn-icon {
  color: white !important;
}
@keyframes profile {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 70%/80% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

svg {
  font-family: "Bungee Shade", sans-serif;
  width: 100%;
  height: 100%;
}
svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #0f1b2d;
  font-size: 100px;
}

svg {
  font-family: "Bungee Shade", sans-serif;
  width: 100%;
  height: 100%;
}
svg text {
  animation: stroke 4s infinite alternate;
  stroke-width: 2;
  stroke: #bbc0c8;
  font-size: 100px;
}
@keyframes stroke {
  0% {
    fill: rgba(87, 211, 178, 0);
    stroke: rgba(187, 192, 200, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(87, 211, 178, 0);
    stroke: rgba(187, 192, 200, 1);
  }
  80% {
    fill: rgba(87, 211, 178, 0);
    stroke: rgba(187, 192, 200, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(87, 211, 178, 1);
    stroke: rgba(187, 192, 200, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: #0a192f;
}

.responsive-text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #0f1b2d;
  font-size: 8vw; /* Responsive font size using viewport width */
}

/* Add more media queries for different screen sizes if needed */
@media (min-width: 768px) {
  .responsive-text {
    font-size: 5vw; /* Adjust font size for larger screens */
  }
}
